<!DOCTYPE html>
<html>
    <head>
    </head>
    <body bgcolor="#fdfdfd" style="font-family: 'Helvetica Neue','Helvetica',sans-serif; font-size: 16px;">
        <h1 style="color: #2C3A47; letter-spacing: 1.05px;">Filmstock</h1>
        <p></p>

        <table width="80%">

            <tr>
                <td>

                    <p>
                        Hi! Welcome to <a href="https://filmstock.app">Filmstock</a>. Thank you for signing up.
                    </p>

                    <p>Now, let us help you find that elusive film camera (or film stock!)...</p>

                    <p>&nbsp;</p>

                    <p>
                        To get started, we recommend saving some of your favorite camera searches. <br>
                        They may be coming up empty right now, but we check our shops regularly for new inventory.
                    </p>

                    <p>
                        And to be notified as soon as those cameras (or films) are in stock, <a href="https://filmstock.app/users/subscribe">subscribe to Filmstock+</a>. <br>
                        It's only $7 annually right now, and your contribution helps to keep Filmstock running.
                    </p>

                    <p>
                        We're adding new features and shops regularly.
                    </p>

                    <p>&nbsp;</p>

                    <p>
                        If you ever have any questions, don't hesitate to reach out to us at <a href="mailto:hi@filmstock.app">hi@filmstock.app</a>.
                    </p>

                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <p style="font-size: 12px; color: #7f8c8d;">© 2021 Filmstock. All rights reserved.</p>
    </body>
</html>
