{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cameras{% endblock %}

{% block content %}

    <div class="row justify-content-evenly">

      <div class="col me-auto order-first" style="margin-top:10px;">

        {% if user.is_authenticated and user.searches.all %}
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Saved searches
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for search in user.searches.all %}
              <li><a class="dropdown-item" href="{% url 'cameras' %}?{{ search.url }}">{{ search.name|truncatechars:25 }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <p></p>
        {% endif %}

        <form action="" method="get">
          {{ cameras.form|crispy }}
          <div class="d-grid gap-2">
            <input class="btn btn-primary btn-sm" type="submit" value="Submit">
          </div>
        </form>

        {% if user.is_authenticated and user.is_approved %}

        <p></p>

        <div class="d-grid gap-2">
          <a class="btn btn-secondary btn-sm" href="{% url 'save-search' %}?{{ request.GET.urlencode }}" role="button">Save this search</a>
        </div>

        {% elif user.is_authenticated == False %}

        <p></p>

        <div class="d-grid gap-2">
          <a class="btn btn-secondary btn-sm" href="{% url 'signup' %}" role="button">Save this search</a>
        </div>

        {% endif %}

      </div>

      <div class="col-10">

        <div class="table-responsive">

        <table class="table">

          <thead>
            <th scope="col">&nbsp;</th>
            <th scope="col" width="60%">Camera</th>
            <th scope="col">Price</th>
            <th scope="col">Source</th>
            <th scope="col">Added</th>
          </thead>

          <tbody>

          {% for camera in cameras.qs %}

            <tr>
              <th scope="row">
                {% if camera.new == True %}
                 <i style="color: #1B9CFC;" class="fas fa-camera-retro"></i>
                {% else %}
                 <i style="color: #CAD3C8;" class="fas fa-camera-retro"></i>
                {% endif %}
              </th>
              <td><a href="{{ camera.url }}" target="_blank" style="color: #000000;">{{ camera.name|truncatechars:120 }}</a></td>
              <td>${{ camera.price }}</td>
              <td class="text-break">
                {% if camera.source == 'precision' %}
                  Precision Camera
                {% elif camera.source == 'bh' %}
                  B&H
                {% elif camera.source == 'austin_camera' %}
                  Austin Camera
                {% elif camera.source == 'keh' %}
                  KEH Camera
                {% elif camera.source == 'etsy' %}
                  Etsy ({{ camera.store }})
                {% else %}
                  {{ camera.source }}
                {% endif %}
              </td>
              <td>
                {{ camera.createdAt|date:'N j, Y' }}
              </td>
            </tr>

          {% endfor %}

          </tbody>
        </table>

        <p class="text-end">
          {{ cameras.qs.count }} cameras in results ({{ total }} available)
        </p>

      </div>

    </div>

  </div>

{% endblock %}
