<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>daily email!</h1>
        <h2>{{ name }}</h2>
        <div>
          <table>
            <tr>
              <th>Camera</th>
              <th>Price</th>
            </tr>
            {% for camera in cameras %}
            <tr>
                <td><a href="{{ camera.url }}">{{ camera.name }}</a></td>
                <td>{{ camera.price }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </body>
</html>
