{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{ film.brand }} {{ film.name }} ({{ film.format }}{% if film.exposures %}, {{ film.exposures }} exp.{% endif %}){% endblock %}

{% block content %}

    {% load query_parameters %}
    {% del_query_parameters page as=clean_filters %}

    {% include 'filmstock-intro.html' %}

        <div class="row justify-content-around">

            <div class="col-md-8 col" style="margin-top:10px;">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/film/" class="link">Film</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ film.brand }} {{ film.name }} ({{ film.format }}{% if film.exposures %}, {{ film.exposures }} exp.{% endif %})</li>
          </ol>
        </nav>


             {% if user.is_subscribed %}
                {% if film.follows.hunter == user %}
                <a href="#" class="btn btn-primary btn-sm disabled" tabindex="-1" role="button">
                    Tracking
                </a>
                {% else %}
                <a href="/film/track/{{ film.id }}" class="btn btn-primary btn-sm" tabindex="-1" role="button">
                     &nbsp; Track &nbsp;
                </a>
                {% endif %}
            {% elif user.is_authenticated %}
                <a href="{% url 'subscribe' %}?return={% url 'film'|urlencode %}?" class="btn btn-primary btn-sm" tabindex="-1" role="button">
                    &nbsp; Track &nbsp;
                </a>
                {% else %}
                <a href="{% url 'signup' %}" class="btn btn-primary btn-sm" tabindex="-1" role="button">
                    &nbsp; Track &nbsp;
                </a>
            {% endif %}

        <table class="table" style="margin-top:25px;">

          <thead>
            <th scope="col" width="60%">Source</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </thead>

          <tbody>

          {% if not stocks %}
           <tr>
             <td class="align-middle" colspan="3">No stock available</td>
           </tr>
          {% endif %}

          {% for stock in stocks %}

            <tr>
              <td class="align-middle">
                {{ stock.source }}
                {% if stock.per_unit < film.price %}
                &nbsp;<span class="badge bg-info text-dark">Best Value</span>
                {% endif %}
                <br><small>
                  ({% if stock.shipping == 0.00 %}Free
                  {% else %}~${{ stock.shipping|floatformat:2 }}
                  {% endif %}delivery)</small>
              </td>
              <td class="align-middle">{{ stock.quantity }}</td>
              <td class="align-middle">${{ stock.price|floatformat:2 }}
                  {% if stock.quantity != 1 %}<br><small>(${{ stock.per_unit|floatformat:2 }} per roll)</small>{% endif %}</td>
              <td class="align-middle text-end">
                <a rel="nofollow" href="/film/view/{{ stock.id }}" target="_blank" class="btn btn-primary" tabindex="-1" role="button">
                    Buy
                </a>
              </td>
            </tr>

          {% endfor %}

          </tbody>
        </table>


    </div>

    </div>

    {% if similar %}

    <div class="row justify-content-around" style="margin-top:25px;">

        <div class="col-md-8 col">

            <h6>Film similar to {{ film.brand }} {{ film.name }}:</h6>

        <div class="row row-cols-1 row-cols-md-3 justify-content-start">

            {% for film in similar %}

            <div class="col" style="padding: 10px;">

                <div class="border border-1 rounded border-secondary" style="padding: 25px;">

                <a class="link" href="{{ film.url }}">
                    {{ film.brand }} {{ film.name }}
                </a>

                <br>

                <small>{{ film.format }} {% if film.format == '35mm' %}({{ film.exposures }} exp.){% endif %}
                    <br>{{ film.get_type_display }}</small>

                </div>
            </div>

            {% endfor %}

        </div>

    </div>

    {% endif %}

{% endblock %}
