{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Film Stock and Price Comparison{% endblock %}

{% block content %}

    {% load query_parameters %}
    {% del_query_parameters page as=clean_filters %}

    {% include 'filmstock-intro.html' %}

    <div class="row justify-content-around">

      <div class="col-md-3" style="margin-top:10px;">

        <form action="" method="get">
          {{ films.form|crispy }}
          <div class="d-grid gap-2">
            <input class="btn btn-primary btn-sm" type="submit" value="Submit">
          </div>
        </form>

      </div>

      <div class="col-md-5">

        <div class="table-responsive">

        <table class="table">

          <thead>
            <th scope="col">Film</th>
            <th scope="col">Price</th>
            <th scope="col" width="20%"></th>
            <th scope="col" width="20%"></th>
          </thead>

          <tbody>

          {% for film in films.qs %}

            <tr>
              <td class="align-middle">
                <a class="link" href="/film/{{ film.id }}/">{{ film.brand }} {{  film.name  }}</a>
                {% now "Y-m-d" as today %}
                {% if today == film.lowUpdatedOn|date:"Y-m-d" %}
                &nbsp;<span class="badge bg-info text-dark">Price Drop</span>
                {% endif %}
                <br>
                <small>{{ film.format }} · {{ film.get_type_display }}
              </td>
              <td class="align-middle">${{ film.price }}</td>
              <td class="align-middle text-end">
                <a href="/film/{{ film.id }}/" class="btn btn-secondary btn-sm" tabindex="-1" role="button">
                    View stock
                </a>
              </td>
              <td class="align-middle text-end">
                {% if user.is_authenticated %}
                    {% if film.follows.hunter == user %}
                    <a href="#" class="btn btn-primary btn-sm disabled" tabindex="-1" role="button">
                        Tracked
                    </a>
                    {% else %}
                    <a href="/film/track/{{ film.id }}" class="btn btn-primary btn-sm" tabindex="-1" role="button">
                         &nbsp; Track &nbsp;
                    </a>
                    {% endif %}
                {% else %}
                <a href="{% url 'signup' %}?from=savesearch" class="btn btn-primary btn-sm" tabindex="-1" role="button">
                    &nbsp; Track &nbsp;
                </a>
                {% endif %}
              </td>
            </tr>

          {% endfor %}

          </tbody>
        </table>

        </div>

        <p></p>

        <nav>
          <ul class="pagination pagination-sm flex-wrap justify-content-start">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{% if clean_filters %}{{ clean_filters }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
              {% if page == page_obj.number %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page }}</span>
              </li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?{% if clean_filters %}{{ clean_filters }}&{% endif %}page={{ page }}">
               {{ page }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?{% if clean_filters %}{{ clean_filters }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>

        <p class="text-start">
          {{ films.qs.count }} films in results ({{ total }} available)
          {% if request.GET.name is not None %}
          <br>
          Can't find anything? Try searching <a class="link" href="{{ reddit_url }}" target="_blank">Reddit</a> or <a class="link" href="{{ ebay_url }}" target="_blank">eBay</a>
          {% endif %}
        </p>

    </div>

  </div>

{% endblock %}
