{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="container-lg" style="margin-top:10px; line-height: 30px;">

        <h1>FAQ</h1>

        <p></p>

        <p><b>Where are you currently sourcing cameras from?</b> <br>
          We are currently sourcing cameras from:
           <ul>
             <li><a class="link" href="https://www.bh.com" target="_blank">B&H Camera</a></li>
             <li><a class="link" href="https://www.keh.com">KEH Camera</a></li>
             <li><a class="link" href="https://www.austincamera.com" target="_blank">Austin Camera</a></li>
             <li><a class="link" href="https://www.precision-camera.com" target="_blank">Precision Camera</a></li>
             <li>Etsy, specifically: <a class="link" href="https://www.etsy.com/santarosacamera" target="_blank">Santa Rosa Camera</a>,
              <a class="link" href="https://www.etsy.com/JohnsonCamera" target="_blank">Johnson Camera</a>, <a class="link" href="https://www.etsy.com/MyCameraCloset" target="_blank">My Camera Closet</a>,
              <a class="link" href="https://www.etsy.com/KmcamerasUS" target="_blank">KM Cameras</a>, <a class="link" href="https://www.etsy.com/AnalogRelics" target="_blank">Analog Relics</a>
             </li>
            </ul>

          We're regularly adding more sources -- mostly US-based for right now. <a class="link" href="mailto:alex@filmstock.app">Contact us</a> to request a new source. </p>

        <p><b>(Feature) is missing. Why did you launch this?</b> <br>
          Filmstock is in early alpha. It was useful to me, so figured it could be useful to others too. :-)</p>

        <p><b>Are you planning to add more sources?</b> <br>
          Yes, though mostly US-based for right now. <a class="link" href="mailto:alex@filmstock.app">Contact us</a> to request a new source.</p>

        <p><b>What about eBay, Reddit, or Craigslist?</b> <br>
          I'll be adding support for all of them as soon as possible.</p>

        <p><b>Are you planning to add (feature)?</b> <br>
          Probably! I've posted the roadmap on Notion <a class="link" href="https://www.notion.so/buncharted/0e661c5d50df40c0a7daa66c4b0bbbab?v=ac195878259d412d910c5b82294ff7fd">here</a>. If you don't see your feature listed, <a class="link" href="mailto:alex@filmstock.app">send me</a> an email.</p>

        <p><b>Will Filmstock always be free?</b> <br>
          Mostly, though I may require a low cost subscription for email alerts in the future.</p>

        <p><b>Who created Filmstock?</b> <br>
          Oh. Hi, I'm <a class="link" href="https://abohw.com" target="_blank">Alex Bowman</a>.</p>

        <p><b>My question isn't answered here. Can you help?</b> <br>
          Yes! Contact me at <a class="link" href="mailto:alex@filmstock.app">alex@filmstock.app</a>.</p>

      </div>

{% endblock %}
