{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="container-lg" style="margin-top:10px; line-height: 30px;">

        <h1>FAQ</h1>

        <p></p>

        <p><b>Where are you currently sourcing cameras from?</b> <br>
          We are currently sourcing cameras from:
           <ul>
             <li><a class="link" href="https://www.bh.com" target="_blank">Etsy</a></li>
             <li><a class="link" href="https://www.keh.com">KEH Camera</a></li>
             <li><a class="link" href="https://www.brooklynfilmcamera.com" target="_blank">Brooklyn Film Camera</a></li>
             <li><a class="link" href="https://www.austincamera.com" target="_blank">Austin Camera</a></li>
             <li><a class="link" href="https://www.precision-camera.com" target="_blank">Precision Camera</a></li>
             </li>
            </ul>

          We're regularly adding more sources -- mostly US-based for right now. <a class="link" href="mailto:alex@filmstock.app">Contact us</a> to request a new source. </p>

        <p><b>(Feature) is missing. Why did you launch this?</b> <br>
          Filmstock is in public beta. It was useful to me, so figured it could be useful to others too. :-)</p>

        <p><b>Are you planning to add more sources?</b> <br>
          Yes, though only US-based right now. <a class="link" href="mailto:hi@filmstock.app">Contact us</a> to request a new source.</p>

        <p><b>What about eBay, Reddit, or Craigslist?</b> <br>
          I'll be adding support for all of them as soon as possible.</p>

        <p><b>My question isn't answered here. Can you help?</b> <br>
          Yes! Contact us at <a class="link" href="mailto:hi@filmstock.app">hi@filmstock.app</a>.</p>

      </div>

{% endblock %}
