{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}Search for Film Cameras and Film Stocks{% endblock %}

{% block content %}

    {% load query_parameters %}
    {% del_query_parameters page as=clean_filters %}

    <div class="row justify-content-between align-items-center" style="margin-top:25px; margin-bottom:25px;">

        <div class="col-sm-9 col-auto" style="padding:15px;">

                <form class="row gy-2 gx-3 align-items-center" action="/cameras" method="get">

                  <div class="col">

                      <h5>Search through <strong>hundreds of film cameras</strong> all in one place.</h5>

                          <div class="input-group mb-3" style="margin-top:25px;">
                            <label for="name" class="visually-hidden">Search</label>
                            <input type="search" name="name" class="form-control" id="name">
                            <button type="submit" class="btn btn-primary">Search</button>
                          </div>

                          <div id="suggestedSearches" class="form-text">
                              Search for something like <a href="/cameras?name=leica">leica</a>, <a href="/cameras?name=polaroid">polaroid</a>, or <a href="/cameras?name=contax t2">contax t2</a>
                          </div>

                  </div>

              </form>

        </div>

        <div class="col">

              <div class="border border-1 rounded border-secondary" style="padding: 25px;">

                <h5 class="text-center"><a href="/film/" class="link" style="text-decoration: none;">
                    or find <strong>great deals</strong>
                    on your favorite <strong>film stocks</strong>.</a></h5>

          </div>

        </div>

    </div>

    {% include 'filmstock-intro.html' %}

    <hr noshade width="95%" style="margin: 0 auto;">

    <div class="container-md">

    <div class="row justify-content-center" style="padding:10px; margin-top:25px;">
    <h5>Recently added</h5>
    </div>

    <div class="row row-cols-2 row-cols-md-6 justify-content-between align-items-center" style="margin-bottom:25px;">

    {% for camera in latest %}

        <div class="col" style="padding: 25px;">

            <a href="{{ camera.url }}" target="_blank">
                <img src="{{ camera.image }}" alt="{{ camera.name }}" class="img-fluid rounded mx-auto d-block" style="max-height: 200px;">
            </a>

            <p><small><a href="{{ camera.url }}" target="_blank"><strong>{{ camera.name|truncatechars:20 }}</strong></a></small></p>
            <p><small>${{ camera.price }}</small></p>

        </div>

     {% endfor %}

    </div>
    </div>

    <hr noshade width="95%" style="margin: 0 auto;">

    <div class="container-md">

    <div class="row justify-content-center" style="padding:10px; margin-top:25px;">
    <h5>Film cameras under $100</h5>
    </div>

    <div class="row row-cols-2 row-cols-md-6 justify-content-between align-items-center" style="margin-bottom:25px;">

    {% for camera in cheapest %}

        <div class="col" style="padding: 25px;">

            <a href="{{ camera.url }}" target="_blank">
                <img src="{{ camera.image }}" alt="{{ camera.name }}" class="img-fluid rounded mx-auto d-block" style="max-height: 200px;">
            </a>

            <p><small><a href="{{ camera.url }}" target="_blank"><strong>{{ camera.name|truncatechars:20 }}</strong></a></small></p>
            <p><small>${{ camera.price }}</small></p>

        </div>

     {% endfor %}

    </div>
    </div>

    <hr noshade width="95%" style="margin: 0 auto;">

    <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">

        <div class="col" style="padding: 25px;">

            <h5 class="text-center">

                Search for <strong><a href="/cameras" style="color:#3B3B98; text-decoration: none;">Film Cameras</a></strong>

            </h5>

        </div>

        <div class="col" style="padding: 25px;">

            <h5 class="text-center">

                Find Deals on <strong><a href="/film" style="color:#3B3B98; text-decoration: none;">Film Stocks</a></strong>

            </h5>

        </div>

    </div>

{% endblock %}
