<!DOCTYPE html>
<html>

  <head>
    <title>virtual camera hunter</title>
  </head>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <body>

    <div class="container-lg">

      <table class="table">

        <thead>
          <th scope="col">&nbsp;</th>
          <th scope="col">Camera</th>
          <th scope="col">Price</th>
          <th scope="col">Source</th>
        </thead>

        <tbody>

        {% for camera in cameras %}

          <tr>
            <th scope="row">
              {% if camera.new == True %}
               <i style="color: #FC427B;" class="fas fa-camera-retro"></i>
              {% else %}
               <i style="color: #CAD3C8;" class="fas fa-camera-retro"></i>
              {% endif %}
            </th>
            <td>{{ camera.name }}</td>
            <td>{{ camera.price }}</td>
            <td><a href="{{ camera.url }}" target="_blank">{{ camera.source }}</a></td>
          </tr>

        {% endfor %}

        </tbody>
      </table>

    </div>

  </body>
</html>
