{% extends 'base.html' %}

{% block title %}VCH - Home{% endblock %}

{% block content %}

  {% if user.is_authenticated %}

  <div class="table-responsive">

    <table class="table">

      <thead>
        <th scope="col">&nbsp;</th>
        <th scope="col">Camera</th>
        <th scope="col">Price</th>
        <th scope="col">Source</th>
        <th scope="col">Added</th>
      </thead>

      <tbody>

      {% for camera in cameras %}

        <tr>
          <th scope="row">
            {% if camera.new == True %}
             <i style="color: #FC427B;" class="fas fa-camera-retro"></i>
            {% else %}
             <i style="color: #CAD3C8;" class="fas fa-camera-retro"></i>
            {% endif %}
          </th>
          <td><a href="{{ camera.url }}" target="_blank">{{ camera.name }}</a></td>
          <td>${{ camera.price }}</td>
          <td>
            {% if camera.source == 'precision' %}
              Precision Camera
            {% elif camera.source == 'bh' %}
              B&H
            {% elif camera.source == 'austin_camera' %}
              Austin Camera
            {% else %}
              {{ camera.source }}
            {% endif %}
          </td>
          <td>
            {{ camera.createdAt }}
          </td>
        </tr>

      {% endfor %}

      </tbody>
    </table>

  </div>
  {% else %}
  <p><a href="{% url 'login' %}">Log In</a></p>
  {% endif %}

{% endblock %}
