{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="container-lg">

    <div class="row justify-content-around align-items-center" style="margin-top:25px;">
      <div class="col">

        <h1>Welcome to Filmstock.</h1>

        <p></p>

        <p>Filmstock checks the inventory of <b>used film cameras</b> from around the US.</p>

        <p>Find the elusive camera you've been longing after:
          <ul>
            <li>Create and save customized searches</li>
            <li>Check current inventory</li>
            <li>Be alerted as soon as new cameras are stocked</li>
            </ul>
            </p>

        <p>Filmstock is currently in a public alpha. Learn more in our <a href="{% url 'help' %}">FAQ</a>.</p>

        <p>To get started, <a href="{% url 'signup' %}">create an account</a> or <a href="{% url 'cameras' %}">start your search now</a>.</p>

      </div>
      <div class="col-md-4">
        <img src="{% static 'img/home.png' %}" class="img-fluid mx-auto d-block" alt="Filmstock" style="max-height: 250px">
      </div>
    </div>

  </div>

{% endblock %}
